[submodule "ws/src/cone_detection"]
	path = ws/src/cone_detection
	url = git@github.com:PGRacingDriverless/cone_detection.git
[submodule "ws/src/control"]
	path = ws/src/control
	url = git@github.com:PGRacingDriverless/control.git
[submodule "ws/src/pathplanner"]
	path = ws/src/pathplanner
	url = git@github.com:PGRacingDriverless/pathplanner.git
