[submodule "ws/src/slam"]
	path = ws/src/slam
	url = git@github.com:PGRacingDriverless/slam.git
[submodule "ws/src/control"]
	path = ws/src/control
	url = git@github.com:PGRacingDriverless/control.git
[submodule "ws/src/camera"]
	path = ws/src/camera
	url = git@github.com:PGRacingDriverless/camera.git
[submodule "ws/src/pathplanner"]
	path = ws/src/pathplanner
	url = git@github.com:PGRacingDriverless/pathplanner.git
[submodule "ws/src/assets"]
	path = ws/src/assets
	url = git@github.com:PGRacingDriverless/assets.git
