[submodule "thirdparty/fast_gicp"]
	path = thirdparty/fast_gicp
	url = git@github.com:PGRacingDriverless/fast_gicp.git
[submodule "thirdparty/ndt_omp"]
	path = thirdparty/ndt_omp
	url = git@github.com:PGRacingDriverless/ndt_omp.git
[submodule "thirdparty/pointcloud_to_laserscan"]
	path = thirdparty/pointcloud_to_laserscan
	url = git@github.com:PGRacingDriverless/pointcloud_to_laserscan.git
	branch = humble
